<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Color</key>
	<array>
		<dict>
			<key>项目皮肤主题色</key>
			<string>skinColor</string>
			<key>Color</key>
			<string>FF601A</string>
		</dict>
		<dict>
			<key>切换正式测试选择色</key>
			<string>testSelectColor</string>
			<key>Color</key>
			<string>FC6C21</string>
		</dict>
		<dict>
			<key>切换正式测试正常色</key>
			<string>testNormalColor</string>
			<key>Color</key>
			<string>15212E</string>
		</dict>
		<dict>
			<key>分割线</key>
			<string>sepreateColor</string>
			<key>Color</key>
			<string>e6e6e6</string>
		</dict>
		<dict>
			<key>导航颜色</key>
			<string>navigationColor</string>
			<key>Color</key>
			<string>FF601A</string>
		</dict>
		<dict>
			<key>大标题黑色</key>
			<string>bigTitleBlackColor</string>
			<key>Color</key>
			<string>111111</string>
		</dict>
		<dict>
			<key>小标题黑色</key>
			<string>titleBlackColor</string>
			<key>Color</key>
			<string>3B364D</string>
		</dict>
		<dict>
			<key> 说明文字微灰色</key>
			<string>stateLittleGrayColor</string>
			<key>Color</key>
			<string>666666</string>
		</dict>
		<dict>
			<key>说明小字灰色</key>
			<string>stateGrayColor</string>
			<key>Color</key>
			<string>999999</string>
		</dict>
		<dict>
			<key>首页背景色</key>
			<string>homeBGColor</string>
			<key>Color</key>
			<string>f9f9f9</string>
		</dict>
		<dict>
			<key>页面背景灰色</key>
			<string>backgroundGrayColor</string>
			<key>Color</key>
			<string>f2f2f2</string>
		</dict>
		<dict>
			<key>主题文字灰色</key>
			<string>grayColor</string>
			<key>Color</key>
			<string>333333</string>
		</dict>
	</array>
	<key>FontName</key>
	<array>
		<dict>
			<key>主题加粗字体</key>
			<string>PingFangSC-Semibold</string>
			<key>FontName</key>
			<string>PingFangSC-Semibold</string>
		</dict>
		<dict>
			<key>普通字体</key>
			<string>PingFangSC-Regular</string>
			<key>FontName</key>
			<string>PingFangSC-Regular</string>
		</dict>
		<dict>
			<key>导航栏标题</key>
			<string>PingFangSC-Semibold</string>
			<key>FontName</key>
			<string>PingFangSC-Semibold</string>
		</dict>
		<dict>
			<key>导航栏标题</key>
			<string>Helvetica-Bold</string>
			<key>FontName</key>
			<string>Helvetica-Bold</string>
		</dict>
	</array>
	<key>FontSize</key>
	<array>
		<dict>
			<key>百分比</key>
			<string>PercentTitleFont</string>
			<key>Font</key>
			<string>55</string>
		</dict>
		<dict>
			<key>发现详情大标题</key>
			<string>NewsBigTitleFont</string>
			<key>Font</key>
			<string>25</string>
		</dict>
		<dict>
			<key>大标题</key>
			<string>BigTitleFont</string>
			<key>Font</key>
			<string>20</string>
		</dict>
		<dict>
			<key>导航栏Title文字字号</key>
			<string>NavigationTitleFont</string>
			<key>Font</key>
			<string>19</string>
		</dict>
		<dict>
			<key>导航栏最右文字字号</key>
			<string>navigationRightFont</string>
			<key>Font</key>
			<string>17</string>
		</dict>
		<dict>
			<key>普通标题</key>
			<string>NormalTitleFont</string>
			<key>Font</key>
			<string>16</string>
		</dict>
		<dict>
			<key>小标题</key>
			<string>normalSmallTitleFont</string>
			<key>Font</key>
			<string>15</string>
		</dict>
		<dict>
			<key>正文字号</key>
			<string>normalFont</string>
			<key>Font</key>
			<string>14</string>
		</dict>
		<dict>
			<key>说明性文字</key>
			<string>stateFont</string>
			<key>Font</key>
			<string>12</string>
		</dict>
		<dict>
			<key>TabBar文字字号</key>
			<string>tabBarFont</string>
			<key>Font</key>
			<string>11</string>
		</dict>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>目前采用顺序获取颜色，字体，字号</key>
	<string>如果非顺序，可以用字典映射遍历。初期业务从性能上考虑，感觉没必要</string>
</dict>
</plist>
