<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiArray</key>
	<array>
		<dict>
			<key>SectionTitle</key>
			<string>Host配置</string>
			<key>Rows</key>
			<array>
				<dict>
					<key>Title</key>
					<string>预正式服host1</string>
					<key>Api</key>
					<string>https://2345test1.com</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>预正式服host2</string>
					<key>Api</key>
					<string>https://2345test2.com</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>风控系统</string>
			<key>Rows</key>
			<array>
				<dict>
					<key>Title</key>
					<string>风控T0</string>
					<key>Api</key>
					<string>http://172.16.0.141:10019/</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>风控T1</string>
					<key>Api</key>
					<string>http://172.16.0.143:10019/</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SectionTitle</key>
			<string>活体检测</string>
			<key>Rows</key>
			<array>
				<dict>
					<key>Title</key>
					<string>OCR</string>
					<key>Api</key>
					<string>http://172.16.0.141:10019/</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>微众</string>
					<key>Api</key>
					<string>http://172.16.0.141:10019/</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Face++</string>
					<key>Api</key>
					<string>http://172.16.0.141:10019/</string>
				</dict>
			</array>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
