<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>接口环境选择</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Dev环境</string>
				<string>T1测试环境</string>
			</array>
			<key>Values</key>
			<array>
				<string>http://172.17.16.115:10024</string>
				<string>http://172.17.16.44:80</string>
			</array>
			<key>Title</key>
			<string>测试环境选择</string>
			<key>Key</key>
			<string>debug_url_perference_Multi</string>
			<key>DefaultValue</key>
			<string>http://172.17.16.44:80</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>输入环境</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>输入环境地址</string>
			<key>Key</key>
			<string>debug_url_perference_TextField</string>
		</dict>
	</array>
</dict>
</plist>
